<ion-header>
  <ion-toolbar color="dark">
    <ion-title class="ion-text-center">Registro</ion-title>
    <ion-buttons slot="start">
      <ion-back-button text="Atrás"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>

    <ion-list-header>
      <ion-label>Identificación</ion-label>
      <ion-chip>
        <ion-label>3/3</ion-label>
      </ion-chip>
    </ion-list-header>

    <ion-item lines="none">
      <ion-text>Ayúdanos a verificar tu información. Incluye una foto de tu identificación oficial.</ion-text>
    </ion-item>

    <div class="ion-padding ion-text-center">
      <img *ngIf="image" [src]="image">
      <ion-button expand="block" class="ion-no-margin" color="primary" (click)="takePicture()"><ion-icon name="camera-outline"></ion-icon></ion-button>
    </div>

    <div class="ion-padding">
      <ion-button expand="block" color="success" (click)="createUser()">Finalizar</ion-button>
    </div>
    
  </ion-list>
  
</ion-content>
