<ion-header>
  <ion-toolbar color="dark">
    <ion-title>
      Busca un Contrato
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<!--Searchbar-->
<ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button>
    <ion-icon name="search-outline"></ion-icon>
  </ion-fab-button>
  <ion-fab-list side="start">
    <ion-fab-button><ion-searchbar></ion-searchbar></ion-fab-button>
  </ion-fab-list>
</ion-fab>


<ion-list-header>Contratos</ion-list-header>
<ion-list>

  <ion-item>
    <ion-avatar slot="start">
      <img src="../../assets/SVG/avatar.svg">
    </ion-avatar>
    <ion-label>
      <h3>Jardinero</h3>
      <p>23 de Febrero de 2020</p>
    </ion-label>
    <ion-label>
      <h3>$250.00 MXN</h3>
      <ion-chip color="primary">
        <ion-icon name="alert-circle-outline"></ion-icon>
        <ion-label>Próximo</ion-label>
      </ion-chip>
    </ion-label>
  </ion-item>

  <ion-item>
    <ion-avatar slot="start">
      <img src="../../assets/SVG/avatar.svg">
    </ion-avatar>
    <ion-label>
      <h3>Jardinero</h3>
      <p>23 de Febrero de 2020</p>
    </ion-label>
    <ion-label>
      <h3>$250.00 MXN</h3>
      <ion-chip color="success">
        <ion-icon name="repeat-outline"></ion-icon>
        <ion-label>En Proceso</ion-label>
      </ion-chip>
    </ion-label>
  </ion-item>

  <ion-item>
    <ion-avatar slot="start">
      <img src="../../assets/SVG/avatar.svg">
    </ion-avatar>
    <ion-label>
      <h3>Jardinero</h3>
      <p>23 de Febrero de 2020</p>
    </ion-label>
    <ion-label>
      <h3>$250.00 MXN</h3>
      <ion-chip color="dark">
        <ion-icon name="checkmark-outline"></ion-icon>
        <ion-label>Completado</ion-label>
      </ion-chip>
    </ion-label>
  </ion-item>

</ion-list>

</ion-content>