<ion-header>
  <ion-toolbar color="dark">
    <ion-title class="ion-text-center">Perfil</ion-title>
    <ion-buttons slot="start">
      <ion-back-button text="Atrás"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list class="ion-padding-top">
    <ion-item>
      <ion-avatar slot="start">
        <img src="../../assets/SVG/avatar.svg">
      </ion-avatar>
      <h3>David Eduardo Pérez Cruz</h3>
    </ion-item>

    <ion-item lines="none">
      <ion-label><ion-icon name="call-outline"></ion-icon> 2871210337</ion-label>
    </ion-item>

    <ion-item lines="none">
      <ion-label><ion-icon name="calendar-outline"></ion-icon> 8 de Noviembre de 1996</ion-label>
    </ion-item>

    <ion-item lines="none">
      <ion-label><ion-icon name="calendar-outline"></ion-icon> davideduardo-1996@live.com.mx</ion-label>
    </ion-item>

    <div class="ion-padding">
      <ion-button expand="block" class="ion-no-margin"><ion-icon name="create-outline"></ion-icon> Editar</ion-button>
    </div>

</ion-list>
</ion-content>
